body {
  fontfamily: "Fira Code", monospace;
  color: black;
  background-color: rgb(0, 100, 100);
}

h1 {
  background-color: rgb(0, 255, 255);
}

p {
  background-color: rgb(255, 255, 255);
}

#first_name {
  width: 300px;
  border: 10px solid green;
  padding: 50px;
  margin: 40px 0px 80px 0;
}

#last_name {
  width: 300px;
  border: 10px solid green;
  padding: 50px;
  margin: 40px 0px 40px 0;
}

.percent {
  font-size: 200%;
}

.em {
  font-size: 1em;
}

.rem {
  font-size: 1rem;
}

.ch {
  font-size: ch;
}

.ex {
  font-size: 1ex;
}

.vwvh {
  background: purple;
  width: 50vw;
  height: 30vh;
}

.vmin {
  color: black;
  background: lightblue;
  width: 50vmin;
  height: 30vmax;
}

@media only screen and (min-width: 500px) {
  body {
    background-color: rgb(0, 125, 0);
  }
}
@media only screen and (min-width: 1000px) {
  body {
    background-color: rgb(125, 125, 0);
  }
}
@media only screen and (min-width: 1500px) {
  body {
    background-color: rgb(125, 125, 125);
  }
}/*# sourceMappingURL=test.css.map */